In [4]:
import pandas as pd
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
column_names = ['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
                'Acceleration', 'Model Year', 'Origin']

df = pd.read_csv(url, names=column_names,
                 na_values = "?", comment='\t',
                 sep=" ", skipinitialspace=True)

In [5]:
df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [6]:
df = df.dropna()
df = df.reset_index(drop=True)

In [7]:
df.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
387,27.0,4,140.0,86.0,2790.0,15.6,82,1
388,44.0,4,97.0,52.0,2130.0,24.6,82,2
389,32.0,4,135.0,84.0,2295.0,11.6,82,1
390,28.0,4,120.0,79.0,2625.0,18.6,82,1
391,31.0,4,119.0,82.0,2720.0,19.4,82,1

In [8]:
import sklearn
import sklearn.model_selection
df_train, df_test = sklearn.model_selection.train_test_split(df, train_size=0.8, random_state=1)
train_stats = df_train.describe().transpose()

In [9]:
numeric_column_names = ['Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration']
df_train_norm, df_test_norm = df_train.copy(), df_test.copy()

for col_name in numeric_column_names:
        mean = train_stats.loc[col_name, 'mean']
        std  = train_stats.loc[col_name, 'std']
        df_train_norm.loc[:, col_name] = (df_train_norm.loc[:, col_name] - mean) / std
        df_test_norm.loc[:, col_name] = (df_test_norm.loc[:, col_name] - mean) / std

/tmp/ipykernel_23364/734282386.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.8243028   0.3511267  -0.8243028  -0.8243028  -0.8243028   1.52655621
  0.3511267  -0.8243028  -0.8243028  -0.8243028   0.3511267  -0.8243028
  0.3511267   1.52655621  1.52655621  1.52655621  0.3511267   1.52655621
 -0.8243028   0.3511267   1.52655621 -0.8243028  -0.8243028   0.3511267
 -0.8243028  -0.8243028  -0.8243028   0.3511267  -0.8243028   1.52655621
  0.3511267  -0.8243028   0.3511267  -0.8243028  -0.8243028   1.52655621
 -0.8243028   1.52655621  1.52655621 -0.8243028  -0.8243028  -0.8243028
 -0.8243028   0.3511267  -0.8243028   1.52655621 -0.8243028  -0.8243028
  1.52655621 -0.8243028  -0.8243028  -0.8243028   1.52655621  1.52655621
  0.3511267   0.3511267   1.52655621 -0.8243028  -0.8243028   1.52655621
  1.52655621 -0.8243028  -0.8243028   0.3511267   1.52655621 -0.8243028
  0.3511267  -0.8243028   1.52655621  1.52655621 -0.8243028  -0.8243028
 -1.41201755  1.52655621  0.3511267   1.52655621 -0.8243028  -0.8243028
 -0.8243028   1.52655621  1.52655621  0.3511267   0.3511267   1.52655621
 -0.8243028   1.52655621 -0.23658805 -0.8243028  -0.8243028   0.3511267
  0.3511267  -1.41201755 -0.8243028   1.52655621 -0.8243028   1.52655621
 -0.8243028   1.52655621  0.3511267  -0.8243028   0.3511267  -1.41201755
  0.3511267  -0.8243028  -0.8243028  -0.8243028  -0.8243028  -0.8243028
 -0.8243028   1.52655621  1.52655621 -0.8243028   0.3511267  -0.8243028
 -0.8243028   0.3511267   1.52655621 -0.8243028  -0.8243028   0.3511267
  0.3511267  -0.8243028  -0.8243028  -0.23658805 -0.8243028   0.3511267
  0.3511267   0.3511267  -0.8243028   1.52655621  1.52655621 -0.8243028
  0.3511267   1.52655621  1.52655621 -0.8243028   0.3511267   0.3511267
 -0.8243028  -0.8243028  -0.8243028  -0.8243028   1.52655621 -0.8243028
 -0.8243028   0.3511267  -0.8243028  -0.8243028   1.52655621 -0.8243028
  1.52655621 -0.8243028  -0.8243028   1.52655621  1.52655621 -0.8243028
  0.3511267  -0.8243028   1.52655621  0.3511267  -0.8243028   1.52655621
 -0.8243028  -0.8243028   1.52655621  1.52655621 -0.8243028   1.52655621
  0.3511267  -0.8243028  -0.8243028   0.3511267   1.52655621  1.52655621
 -0.8243028  -0.8243028  -0.8243028  -0.8243028  -0.8243028  -0.8243028
 -0.8243028   1.52655621 -0.8243028   0.3511267   1.52655621 -0.8243028
 -0.23658805 -0.8243028  -0.8243028  -0.8243028  -0.8243028  -0.8243028
  0.3511267  -0.8243028  -0.8243028   1.52655621  1.52655621 -0.8243028
  1.52655621 -0.8243028   1.52655621 -0.8243028  -0.8243028  -0.8243028
 -0.8243028   0.3511267  -0.8243028   1.52655621 -0.8243028   0.3511267
  1.52655621 -0.8243028  -0.8243028  -0.8243028   0.3511267  -0.8243028
 -0.8243028  -0.8243028  -0.8243028   0.3511267  -0.8243028   1.52655621
 -0.8243028  -0.8243028  -0.8243028   1.52655621 -0.8243028   1.52655621
 -0.8243028   0.3511267  -0.8243028   0.3511267  -0.8243028  -0.8243028
  0.3511267   1.52655621 -0.8243028   0.3511267   1.52655621  0.3511267
 -0.8243028  -0.8243028  -0.8243028   1.52655621  1.52655621 -0.8243028
 -0.8243028  -0.8243028   1.52655621  0.3511267   0.3511267  -0.8243028
 -0.8243028  -0.8243028   1.52655621  0.3511267   0.3511267   0.3511267
  1.52655621 -0.8243028   1.52655621  0.3511267  -0.8243028  -0.8243028
 -0.8243028  -0.8243028   1.52655621 -0.8243028   1.52655621 -0.8243028
  1.52655621 -0.8243028  -0.8243028  -0.8243028  -0.8243028  -0.8243028
  1.52655621 -0.8243028  -0.8243028  -0.8243028   0.3511267  -0.8243028
  1.52655621 -0.8243028  -0.8243028  -0.8243028  -0.8243028   1.52655621
 -0.8243028   1.52655621 -0.8243028  -1.41201755 -0.8243028   1.52655621
 -0.8243028   1.52655621  0.3511267   0.3511267   0.3511267  -0.8243028
 -0.8243028   0.3511267  -0.8243028   1.52655621 -0.8243028  -0.8243028
 -0.8243028   0.3511267  -0.8243028   0.3511267   1.52655621 -0.8243028
  1.52655621]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_train_norm.loc[:, col_name] = (df_train_norm.loc[:, col_name] - mean) / std
/tmp/ipykernel_23364/734282386.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.8243028  -0.8243028  -0.8243028  -0.8243028  -0.8243028  -0.8243028
 -0.8243028   1.52655621 -0.8243028  -0.8243028   0.3511267  -0.8243028
  1.52655621 -0.8243028  -0.8243028   1.52655621 -0.8243028  -0.8243028
  1.52655621  0.3511267  -0.8243028   0.3511267   1.52655621  1.52655621
  1.52655621  1.52655621 -0.8243028   0.3511267   0.3511267  -0.8243028
  1.52655621 -0.8243028   1.52655621  0.3511267   0.3511267   1.52655621
  0.3511267   0.3511267  -0.8243028  -0.8243028   1.52655621  1.52655621
  0.3511267   0.3511267   0.3511267   0.3511267   1.52655621 -0.8243028
  0.3511267   1.52655621  1.52655621  0.3511267  -0.8243028  -0.8243028
 -0.8243028   0.3511267   0.3511267   0.3511267  -0.8243028  -0.8243028
  0.3511267  -0.8243028  -0.8243028   1.52655621  0.3511267   0.3511267
 -0.8243028   1.52655621 -0.8243028   1.52655621 -0.8243028   1.52655621
  1.52655621 -0.8243028  -0.8243028  -0.8243028   1.52655621  1.52655621
  1.52655621]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_test_norm.loc[:, col_name] = (df_test_norm.loc[:, col_name] - mean) / std

In [10]:
df_train_norm.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
203,28.0,-0.824303,-0.901020,-0.736562,-0.950031,0.255202,76,3
255,19.4,0.351127,0.413800,-0.340982,0.293190,0.548737,78,1
72,13.0,1.526556,1.144256,0.713897,1.339617,-0.625403,72,1
235,30.5,-0.824303,-0.891280,-1.053025,-1.072585,0.475353,77,1
37,14.0,1.526556,1.563051,1.636916,1.470420,-1.359240,71,1

In [11]:
import numpy as np
import torch
import torch.nn as nn
from IPython.display import Image

In [12]:
boundaries = torch.tensor([73,76,79])
v = torch.tensor(df_train_norm['Model Year'].values)
df_train_norm['Model Year Bucketed'] = torch.bucketize(
    v, boundaries, right=True
)
v = torch.tensor(df_test_norm['Model Year'].values)
df_test_norm['Model Year Bucketed'] = torch.bucketize(
    v, boundaries, right=True
)

numeric_column_names.append('Model Year Bucketed')

In [13]:
from torch.nn.functional import one_hot

total_origin = len(set(df_train_norm['Origin']))
origin_encoded = one_hot(torch.from_numpy(df_train_norm['Origin'].values)%total_origin)
x_train_numeric = torch.tensor(df_train_norm[numeric_column_names].values)
x_train = torch.cat([x_train_numeric, origin_encoded], 1).float()

origin_encoded = one_hot(torch.from_numpy(df_test_norm['Origin'].values) % total_origin)
x_test_numeric = torch.tensor(df_test_norm[numeric_column_names].values)
x_test = torch.cat([x_test_numeric, origin_encoded], 1).float()

In [14]:
y_train = torch.tensor(df_train_norm['MPG'].values).float()
y_test = torch.tensor(df_test_norm['MPG'].values).float()

In [16]:
from torch.utils.data import TensorDataset, DataLoader
train_ds = TensorDataset(x_train, y_train)
batch_size = 8
torch.manual_seed(1)
train_dl = DataLoader(train_ds, batch_size, shuffle=True)

In [19]:
hidden_units = [8,4]
input_size = x_train.shape[1]
all_layers = []

for hidden_unit in hidden_units:
    layer = nn.Linear(input_size, hidden_unit)
    all_layers.append(layer)
    all_layers.append(nn.ReLU())
    input_size = hidden_unit

all_layers.append(nn.Linear(hidden_units[-1],1))
model = nn.Sequential(*all_layers)

In [20]:
model

Sequential(
  (0): Linear(in_features=9, out_features=8, bias=True)
  (1): ReLU()
  (2): Linear(in_features=8, out_features=4, bias=True)
  (3): ReLU()
  (4): Linear(in_features=4, out_features=1, bias=True)
)

In [21]:
loss_fn = nn.MSELoss()
optimizer = torch.optim.SGD(model.parameters(), lr = 0.001)

In [23]:
torch.manual_seed(1)
num_epochs = 200
log_epochs = 20

for epoch in range(num_epochs):
    loss_hist_train = 0
    for x_batch, y_batch in train_dl:
        pred = model(x_batch)[:,0]
        loss = loss_fn(pred, y_batch)
        loss.backward()
        optimizer.step()
        optimizer.zero_grad()
        loss_hist_train += loss.item()
    
    if epoch % log_epochs == 0:
        print(f'Epoch {epoch} Loss ' f'{loss_hist_train/len(train_dl):.4f}')

Epoch 0 Loss 6.9897
Epoch 20 Loss 6.7344
Epoch 40 Loss 6.7773
Epoch 60 Loss 6.8063
Epoch 80 Loss 6.5812
Epoch 100 Loss 6.7553
Epoch 120 Loss 6.2599
Epoch 140 Loss 6.5842
Epoch 160 Loss 7.1492
Epoch 180 Loss 6.4092

In [26]:
with torch.no_grad():
    pred = model(x_test.float())[:,0]
    loss = loss_fn(pred, y_test)
    print(f'Test MSE: {loss.item():.4f}')
    print(f'Test MAE: {nn.L1Loss()(pred, y_test).item():.4f}')

Test MSE: 9.3418
Test MAE: 2.0764